<div id="<%= dom_id search %>">
  <p>
    <strong>Address:</strong>
    <%= search.address %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= search.data %>
  </p>

  <p>
    <strong>Error:</strong>
    <%= search.error %>
  </p>

</div>
