<p style="color: green"><%= notice %></p>

<h2>Results</h2>

<div id="searches">
  <% @searches.each do |search| %>
    <%= render search %>
    <p>
      <%= link_to "View", search %>
    </p>
  <% end %>
</div>

<%= link_to "New", new_search_path %>
